<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
<div class="space-medium" style="background: #ffffff">
    <div class="container">
        <div class="row">

            <!--/.login-form-->
            <!--sing-up-form-->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="account-holder">
                    <h3>Signup With Today’s Fashion</h3>
                    <br>
                        <form>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label required" for="name"> Name
                                        <sup style="color:red">*</sup>
                                    </label>
                                    <input id="name" name="name" type="text" class="form-control" placeholder="Enter Your NAme">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label required" for="name"> Name
                                        <sup style="color:red">*</sup>
                                    </label>
                                    <input id="name" name="name" type="text" class="form-control" placeholder="Enter Your NAme">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label required" for="name"> Name
                                        <sup style="color:red">*</sup>
                                    </label>
                                    <input id="name" name="name" type="text" class="form-control" placeholder="Enter Your NAme">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label required" for="name"> Name
                                        <sup style="color:red">*</sup>
                                    </label>
                                    <input id="name" name="name" type="text" class="form-control" placeholder="Enter Your NAme">
                                </div>
                            </div>
                        </form>
                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="account-holder">
                    <br>
                    <br>
                    <br>
                        <form>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label required" for="name"> Name
                                        <sup style="color:red">*</sup>
                                    </label>
                                    <input id="name" name="name" type="text" class="form-control" placeholder="Enter Your NAme">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label required" for="phone">Phone
                                        <sup style="color:red">*</sup>
                                    </label>
                                    <input id="phone" name="phone" type="text" class="form-control" placeholder="Enter Mobile Number">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label required" for="email">Email
                                        <sup style="color:red">*</sup>
                                    </label>
                                    <input id="email" name="email" type="text" class="form-control" placeholder="Enter Email Address">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label required" for="password">Password
                                        <sup style="color:red">*</sup>
                                    </label>
                                    <input id="password" name="password" type="password" class="form-control" placeholder="password">
                                </div>

                            </div>

                        </form>
                </div>

            </div>

        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-md-6">
                <button class="btn btn-danger form-control" style="background-color: #5cb85c;color:#ffffff;font-size: 1.2em;font-weight: bold">CREATE ACCOUNT</button>
            </div>
        </div>

    </div>
</div>