<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <form class="form-horizontal" role="form" [formGroup]="frmChangePassword">
                <div class="card-body">
                  <h1>Change password</h1>
                  <p class="text-muted">Create your new password</p>
                  <div class="alert alert-danger" role="alert" *ngIf="ErrorFlag">
                    <strong>Warning</strong> {{ErrorMessage}}
                  </div>
                  <div class="alert alert-success" role="alert" *ngIf="SuccessFlag">
                    <strong> {{SuccessMessage}}</strong>
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-lock"></i>
                      </span>
                    </div>
                    <input formControlName="newpassword" type="password" class="form-control" name="newpassword" placeholder="Password">
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="icon-lock"></i>
                      </span>
                    </div>
                    <input formControlName="cpass" type="password" class="form-control" name="cpass" placeholder="Re-Password">
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button [disabled]="frmChangePassword.invalid" type="submit" class="btn btn-primary px-4" (click)="onChangePassword()">Change</button>
                    </div>

                  </div>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>